

<ion-content class="mobile">
    <ion-header *ngIf="user">
      <ion-toolbar>
        <ion-item lines="none" >
          <ion-avatar slot="start">
            <img [src]="user.pic ? user.pic : 'assets/imgs/profilepic.png' " />
          </ion-avatar>
          <ion-label class="ion-no-border">
            <h2>{{user.firstname}}</h2>
            <p>{{user.online ? 'online' : 'offline'}}</p>
          </ion-label>
    
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <div class="mainmsg" #scrollMe>
      <div *ngFor="let msg of chat"  [ngClass]="{'fromMe' : msg.textSort === currentUser, 'fromHim': msg.textSort !==currentUser}">
        <div>
          <span>{{msg.content}}</span>
          <div>
            <small>{{msg.day}}</small>
          </div>
        </div>
       
      </div>
   
    </div>

 
    
</ion-content>
<ion-footer class="mobile footer">
  <ion-input placeholder="Enter message here" #msgField = 'ngModel'  [(ngModel)]="inputmsg.content"  required name="msg" ngDefaultControl>
    <ion-icon slot="end" name=""></ion-icon>
  </ion-input>
  <div>
    <ion-icon color="primary" name="send" (click)="sendMessage()"></ion-icon>
  </div>

</ion-footer>






<div class="desktop">
  <h3>We advice you switch to a bigger screen device</h3>
</div>