ion-content{
    --background:#fff;
    height: 100vh;
}

.fromMe{
    background-color: #eef2fd;
    margin-right: 15px;
    margin-left: 6em;
    width: 40%;
    float: right;
    border-radius: 18px;
    margin-top: 10px;

}

.fromMe > div{
    padding:10px;
   color:  #7a797d;
}





ion-icon{
    padding-left:30px
}

// ion-footer  > ion-input{
//     width:80%;
//     height:50px;

// }

ion-footer > div{
    width:20%;
    background: #eef2fd;
    display: flex;
    align-items: center;

}

ion-footer {
    display: flex;
    
}

.mainmsg{
    width:100%;
    height: 60%;
    overscroll-behavior-y: auto;
    overflow-y: auto;

}



ion-item{
    width: 100%;
    margin:0;
    --background: #f2f7fd
}



h2,p{
    color: var(--ion-color-step-600, #666666);
}

.list-md{
    background: #f2f7fd
}
ion-input{
    background: #eef2fd;
   color:  #7a797d;
//    margin-top: 30px;
//    padding: 30px;

}


.fromHim{
    margin-left: 15px;
    margin-right: 6em;
    background-color: blue;
    width: 40%;
    float: left;
    border-radius: 18px;
    margin-top:10px;
    

}

.fromHim > div{
    padding:10px
}

ion-content > ion-header {
    margin-bottom: 20px;
}
.desktop{
    display: none;
}

ion-footer{
    height:20%;
}

@media only screen and (min-width: 915px) {
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }
}

@media only screen and (max-height: 740px) { 
    ion-content{
        height: 87vh
    }
}