

<ion-content class="mobile">
    <ion-header>
      <ion-toolbar>
        <ion-item lines="none" >
          <ion-avatar slot="start">
            <img src="assets/imgs/doc2.jpg" />
          </ion-avatar>
          <ion-label class="ion-no-border">
            <h2>Poe</h2>
            <p>Online</p>
          </ion-label>
    
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <div class="mainmsg">
      <div class="fromMe">
        <div>
          <span>Lorem ipsum dolomodi iste consectetur saepe, ipsum nostrum?</span>
          <div>
            <small>7.00</small>
          </div>
        </div>
       
      </div>
      <div class="fromHim">
        <div>
          <span>Lorem ipsum dolomodi iste consectetur saepe, ipsum nostrum?</span>
          <div>

            <small>6.45</small>
          </div>
        </div>
     
      </div>
      <div class="fromMe">
        <div>
          <span>Lom?</span>
          <div>
            <small>7.00</small>
          </div>
        </div>
       
      </div>
      <div class="fromHim">
        <div>
          <span>Lorem ipsum dolomodi iste consectetur saepe, ipsum nostrum?</span>
          <div>

            <small>6.45</small>
          </div>
        </div>
     
      </div>
      <div class="fromMe">
        <div>
          <span>Lorem ipsum dolomodi iste consectetur saepe, ipsum nostrum?</span>
          <div>
            <small>7.00</small>
          </div>
        </div>
       
      </div>
      <div class="fromHim">
        <div>
          <span>Lorem ipsum dolomodi iste consectetur saepe, ipsum nostrum?</span>
          <div>

            <small>6.45</small>
          </div>
        </div>
     
      </div>
      <div class="fromMe">
        <div>
          <span>Lorem ipsum dolomodi iste consectetur saepe, ipsum nostrum?</span>
          <div>
            <small>7.00</small>
          </div>
        </div>
       
      </div>
      <div class="fromHim">
        <div>
          <span>Lorem ipsum dolomodi iste consectetur saepe, ipsum nostrum?</span>
          <div>

            <small>6.45</small>
          </div>
        </div>
     
      </div>
      <div class="fromMe">
        <div>
          <span>Lorem ipsum dolomodi iste consectetur saepe, ipsum nostrum?</span>
          <div>
            <small>7.00</small>
          </div>
        </div>
       
      </div>
      <div class="fromHim">
        <div>
          <span>Lorem ipsum dolomodi iste consectetur saepe, ipsum nostrum?</span>
          <div>

            <small>6.45</small>
          </div>
        </div>
     
      </div>

    </div>
 
</ion-content>

<ion-footer class="mobile">
  <ion-input placeholder="Enter message here">
    <ion-icon slot="end" name=""></ion-icon>
  </ion-input>
  <div>
    <ion-icon color="primary" name="send"></ion-icon>
  </div>

</ion-footer>


<div class="desktop">
  <h3>We advice you switch to a bigger screen device</h3>
</div>