
<ion-content>
  <div>
    <section>
      <h2>Chat</h2>
      <div class="main">
        <ion-grid>
          <ion-row>
            <ion-col size-md="6">
              <div>
                <ion-input placeholder="Search"><ion-icon   name="Search"></ion-icon> </ion-input>
                <section>
                  <ion-card>
                    <div >
                      <img src="assets/imgs/doc1.jpg" alt="">
                      <div>
                        <h6>Prince </h6>
                        <small>Its about to go down boi</small>
                      </div>
                      <ion-badge color="primary">3</ion-badge>
                    </div>
                  </ion-card>
                  <ion-card>
                    <div >
                      <img src="assets/imgs/doc2.jpg" alt="">
                      <div>
                        <h6>Abigail Sarks</h6>
                        <small>Hey Prince :)</small>
                      </div>
                      <ion-badge color="primary">1</ion-badge>

                    </div>
                  </ion-card>
                  <ion-card>
                    <div >
                      <img src="assets/imgs/doc3.jpg" alt="">
                      <div>
                        <h6>Kwame Prince</h6>
                        <small>Everything is gonna be</small>
                      </div>
                      <ion-badge color="primary">1</ion-badge>

                    </div>
                  </ion-card>
                  <ion-card>
                    <div >
                      <img src="assets/imgs/doc4.jpg" alt="">
                      <div>
                        <h6>King</h6>
                        <small>Its about to go down boi</small>
                      </div>
                      <ion-badge color="primary">4</ion-badge>

                    </div>
                  </ion-card>
                  <ion-card>
                    <div >
                      <img src="assets/imgs/nurse1.jpg" alt="">
                      <div>
                        <h6>Abena</h6>
                        <small>Its about to go down boi</small>
                      </div>
                      <ion-badge color="primary">6</ion-badge>

                    </div>
                  </ion-card>
                  <ion-card>
                    <div >
                      <img src="assets/imgs/nurse2.jpg" alt="">
                      <div>
                        <h6>Ama </h6>
                        <small>Its about to go down boi</small>
                      </div>
                      <ion-badge color="primary">2</ion-badge>

                    </div>
                  </ion-card>
                </section>
              </div>
              </ion-col>
              <ion-col  size-md="6">
                <section class="second">
                  <ion-card>
                    <div >
                      <img src="assets/imgs/doc2.jpg" alt="">
                      <div>
                        <h6>Charity Koomson</h6>
                        <small>active 4hr ago</small>
                      </div>
                      <ion-icon name="danger"></ion-icon>
                    </div>
                  </ion-card>
                </section>
                <section class="mainMsg">
                    <ion-card>
                      <div class="msgContainer smallmargin">
                        <div>
                          <span>Lorem ipsum dolomodi iste consectetur saepe, ipsum nostrum?</span>
                        </div>
                        <small></small>
                      </div>
                      <div class="fromHim">
                        <div>
                          <span>Lorem ipsum dolomodi iste consectetur saepe, ipsum nostrum?</span>
                        </div>
                        <small></small>
                      </div>
                      <div class="msgContainer">
                        <div>
                          <span>Lorem ipsum dolomodi iste consectetur saepe, ipsum nostrum?</span>
                        </div>
                        <small></small>
                      </div>
                      <div class="fromHim">
                        <div>
                          <span>Lorem ipsum dolomodi iste consectetur saepe, ipsum nostrum?</span>
                        </div>
                        <small></small>
                      </div>

                        <ion-input placeholder="Type message here"><ion-icon   name="mail"></ion-icon> </ion-input>

                    </ion-card>
                </section>
              </ion-col>
              </ion-row>
              </ion-grid>
  
      </div>
    </section>
  </div>
  
</ion-content>
