
<ion-content class="desktop">

  <div>
    <section>


      <h2>Chat</h2>
      <div class="main">
        <ion-grid>
          <ion-row>
            <ion-col size-md="6">
              <div>
                <ion-input placeholder="Search"><ion-icon   name="Search"></ion-icon> </ion-input>
                <section>
                  <ion-card>
                    <div >
                      <img src="assets/imgs/doc1.jpg" alt="">
                      <div>
                        <h6>Prince </h6>
                        <small>Its about to go down boi</small>
                      </div>
                      <ion-badge color="primary">3</ion-badge>
                    </div>
                  </ion-card>
                  <ion-card>
                    <div >
                      <img src="assets/imgs/doc2.jpg" alt="">
                      <div>
                        <h6>Abigail Sarks</h6>
                        <small>Hey Prince :)</small>
                      </div>
                      <ion-badge color="primary">1</ion-badge>

                    </div>
                  </ion-card>
                  <ion-card>
                    <div >
                      <img src="assets/imgs/doc3.jpg" alt="">
                      <div>
                        <h6>Kwame Prince</h6>
                        <small>Everything is gonna be</small>
                      </div>
                      <ion-badge color="primary">1</ion-badge>

                    </div>
                  </ion-card>
                  <ion-card>
                    <div >
                      <img src="assets/imgs/doc4.jpg" alt="">
                      <div>
                        <h6>King</h6>
                        <small>Its about to go down boi</small>
                      </div>
                      <ion-badge color="primary">4</ion-badge>

                    </div>
                  </ion-card>
                  <ion-card>
                    <div >
                      <img src="assets/imgs/nurse1.jpg" alt="">
                      <div>
                        <h6>Abena</h6>
                        <small>Its about to go down boi</small>
                      </div>
                      <ion-badge color="primary">6</ion-badge>

                    </div>
                  </ion-card>
                  <ion-card>
                    <div >
                      <img src="assets/imgs/nurse2.jpg" alt="">
                      <div>
                        <h6>Ama </h6>
                        <small>Its about to go down boi</small>
                      </div>
                      <ion-badge color="primary">2</ion-badge>

                    </div>
                  </ion-card>
                </section>
              </div>
              </ion-col>
              <ion-col  size-md="6">
          <app-chat-in></app-chat-in>


              </ion-col>
              </ion-row>
              </ion-grid>
  
      </div>
    </section>
  </div>
  
</ion-content>

<!-- for mobile -->


<ion-content class="mobile mobContent">
 

  <ion-list>

    <ion-item routerLink="/dashboard/interface">
      <ion-avatar slot="start">
        <img src="assets/imgs/doc2.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Poe</h2>
        <p>I just upgraded myng. Next time...</p>
      </ion-label>
      <ion-badge slot="end" color="primary">3</ion-badge>

    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/imgs/doc2.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Poe</h2>
        <p>I just upgraded myng. Next time...</p>
      </ion-label>
      <ion-badge slot="end" color="primary">3</ion-badge>

    </ion-item>
    <ion-item >
      <ion-avatar slot="start">
        <img src="assets/imgs/doc2.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Poe</h2>
        <p>I just upgraded myng. Next time...</p>
      </ion-label>
      <ion-badge slot="end" color="primary">3</ion-badge>

    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/imgs/doc2.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Poe</h2>
        <p>I just upgraded myng. Next time...</p>
      </ion-label>
      <ion-badge slot="end" color="primary">3</ion-badge>

    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/imgs/doc2.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Poe</h2>
        <p>I just upgraded myng. Next time...</p>
      </ion-label>
      <ion-badge slot="end" color="primary">3</ion-badge>

    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/imgs/doc2.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Poe</h2>
        <p>I just upgraded myng. Next time...</p>
      </ion-label>
      <ion-badge slot="end" color="primary">3</ion-badge>

    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/imgs/doc2.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Poe</h2>
        <p>I just upgraded myng. Next time...</p>
      </ion-label>
      <ion-badge slot="end" color="primary">3</ion-badge>

    </ion-item>


    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/imgs/doc3.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Ben</h2>
        <p>These aren't the droidsoking for...</p>
      </ion-label>
      <ion-badge slot="end" color="primary">3</ion-badge>

    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/imgs/doc3.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Ben</h2>
        <p>These aren't the droidsoking for...</p>
      </ion-label>
      <ion-badge slot="end" color="primary">3</ion-badge>

    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/imgs/doc3.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Ben</h2>
        <p>These aren't the droidsoking for...</p>
      </ion-label>
      <ion-badge slot="end" color="primary">3</ion-badge>

    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/imgs/doc3.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Ben</h2>
        <p>These aren't the droidsoking for...</p>
      </ion-label>
      <ion-badge slot="end" color="primary">3</ion-badge>

    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/imgs/doc3.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Ben</h2>
        <p>These aren't the droidsoking for...</p>
      </ion-label>
      <ion-badge slot="end" color="primary">3</ion-badge>

    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/imgs/doc3.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Ben</h2>
        <p>These aren't the droidsoking for...</p>
      </ion-label>
      <ion-badge slot="end" color="primary">3</ion-badge>

    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/imgs/doc4.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Leia</h2>
        <p>I've placed information v survival...</p>
      </ion-label>
      <ion-badge slot="end" color="primary">3</ion-badge>

    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/imgs/nurse1.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Yoda</h2>
        <p>Do or do not. There is no try...</p>
      </ion-label>
      <ion-badge slot="end" color="primary">3</ion-badge>

    </ion-item>
  </ion-list>
  
</ion-content>


