<div class="welcome">
  <h2>WELCOME</h2>
  <h3>{{errormsg}} </h3>
</div>

<form class="mobile" action="" #form="ngForm" (ngSubmit)="loginUser()">

<div>
  <ion-input placeholder="Email" #usernameField = 'ngModel'[(ngModel)]="userCredentials.email" required name="email">
  <ion-icon slot="icon-only" name="mail-outline"></ion-icon>

  </ion-input>
</div>
<div>
  <ion-input placeholder="Password" type="password" #password = 'ngModel' [(ngModel)]="userCredentials.password" required name="password">
  <ion-icon slot="icon-only"  name="eye-off-outline"></ion-icon>

  </ion-input>
</div>

<div class="sub">
  <ion-button type='submit' [disabled] = "form.invalid">
    <ion-spinner name="lines-small"  *ngIf='show'></ion-spinner>
    submit
  </ion-button>
</div>

</form>

<form class="desktop" #form="ngForm" (ngSubmit)="loginUser()">
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-label>Email</ion-label><br>
         <ion-input  #usernameField = 'ngModel'[(ngModel)]="userCredentials.email" name="emailField" required type="email"></ion-input>

      </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
            <ion-label>Password</ion-label><br>
           <ion-input  #password = 'ngModel' [(ngModel)]="userCredentials.password" required name="password" type="password"></ion-input>
  
        </ion-col>
        </ion-row>
      
      </ion-grid>

      <div class="bttn">
        <ion-button type='submit'  [disabled] ="form.invalid">
          <ion-spinner name="lines-small"  *ngIf='show'></ion-spinner>
          Log In</ion-button>
    </div>
</form>






