ion-icon{
    padding-left: 20px;
  }
  .sub > ion-button{
    --background: #1e9fd9;
     --border-radius: 20px;
     width: 40%;
    //  margin-left: 4em;
    //  margin: auto;
  
  }
  
  .sub{
    text-align:center;
}
 div{
    margin-bottom: 30px;
  }
  
  ion-input{
    width: 85%;
    margin:auto;
    padding: 20px;
    --background: #f3f3f3;
    border-radius: 20px;
  
  }
  