
<div>
  <ion-input placeholder="Firstname">
  <ion-icon slot="icon-only" name="person-outline"></ion-icon>

  </ion-input>
  <!-- <ion-icon name="mail-outline"></ion-icon> -->
</div>
<div>
  <ion-input placeholder="Lastname">
  <ion-icon slot="icon-only" name="person-outline"></ion-icon>

  </ion-input>
</div>
<div>
  <ion-input placeholder="Email">
  <ion-icon slot="icon-only" name="mail-outline"></ion-icon>

  </ion-input>
</div>
<div>
  <ion-input placeholder="Password">
  <ion-icon slot="icon-only"  name="eye-off-outline"></ion-icon>

  </ion-input>
</div>
<div>
  <ion-input placeholder="Confirm Password">
  <ion-icon slot="icon-only"  name="eye-off-outline"></ion-icon>

  </ion-input>
</div>
<div class="sub">
  <ion-button>
    submit
  </ion-button>
</div>


