 <div *ngIf="user">

  <section class="second" >
        <ion-card>
              <div >
                <img [src]="user.pic" alt="">
                <div>
                  <h6>{{user.firstname}}</h6>
                  <small >{{user.online ? 'online' : "offline"}}</small>
                </div>
                <ion-icon name="danger"></ion-icon>
              </div>
          </ion-card>
</section>
<section class="mainMsg">
                    <ion-card >
                      <ion-card-content  #scrollMe >
                        <div  *ngFor="let msg of chat"  [ngClass]="{'msgContainer' : msg.textSort === currentUser, 'fromHim': msg.textSort !==currentUser}">
                          <div>
                            <span>{{msg.content}}</span><br>
                            <span>
                              <small>{{msg.day}}</small>
                            </span>
                          </div>
                      </div>
                      </ion-card-content>
                   
                        

                    </ion-card>
                    <ion-card class="bottomCard">
                        <div class="inputContainer">
                          <div>
                            <ion-input placeholder="Type message here"  #msgField = 'ngModel'  [(ngModel)]="inputmsg.content"  required name="msg" ngDefaultControl><ion-icon   name="mail"></ion-icon> </ion-input>
                            <ion-icon slot="start" name="send" (click)="sendMessage()" ></ion-icon>
                          </div>
                        
                        </div>
                    </ion-card>
  </section>

</div>