ion-content{
    --background: #fff;

}

ion-card{
    width: 90%;
    height: 95%;
    margin:auto;
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

ion-card-content{
    height: 80%;
    overscroll-behavior-y: auto;
    overflow-y: auto;
}

.upper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width:200px;
    height: 200px;
    border-radius: 50%;
}
.meta{
   text-align: center;
}

ion-button{
    margin-top: 1em;
}

h2{
    margin-top: 20px;
}

::-webkit-scrollbar {
    width: 10px;
    }
    
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background:#dbdae0; 
    border-radius: 10px;
    }

@media only screen and (min-width: 915px) {
    .upper{
        margin-top: 3em;
    }
    .upper > div{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    ion-header{
        display: none;
    }

    .meta{
        display: flex;
        align-items: center;
    }

    ion-card{
        width: 70%;
         height: 650px;
    }
}