

<ion-content>
  <ion-card>
    <ion-card-content>
      <section class="upper" *ngIf="user">
        <div>
          <img [src]="user.pic" alt="">
          <div class="meta">
            <div >
              <h2>{{user.firstname}} {{user.lastname}}</h2>
              <h3>Head Doctor, Tema General Hospital</h3>
              <ion-button color="primary"  (click)="chat()">Chat Me</ion-button>
            </div>
         
          </div>
          
        </div>
       
      </section>

      <section class="about">
          <h2>About</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi ducimus rem expedita ipsa ipsum officiis voluptate, impedit minima cum est corrupti inventore itaque nam non mollitia perferendis id magnam necessitatibus.</p>
      </section>
      <section class="Education">
        <h2>Education</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi ducimus rem expedita ipsa ipsum officiis voluptate, impedit minima cum est corrupti inventore itaque nam non mollitia perferendis id magnam necessitatibus.</p>
    </section>

    <section class="Experience">
      <h2>Experience</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi ducimus rem expedita ipsa ipsum officiis voluptate, impedit minima cum est corrupti inventore itaque nam non mollitia perferendis id magnam necessitatibus.</p>
  </section>

  <section class="History">
    <h2>History</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi ducimus rem expedita ipsa ipsum officiis voluptate, impedit minima cum est corrupti inventore itaque nam non mollitia perferendis id magnam necessitatibus.</p>
</section>
    </ion-card-content>
  </ion-card>

</ion-content>
