

<section class="top">
  <div>
    <ul>
      <li><a href="">Doctor</a></li>
      <li><a href="">Nurse</a></li>
      <li><a href="">Midwife</a></li>
    </ul>
  </div>
</section>

<section class="main">
  <ion-content>
    <ion-grid>
      <ion-row *ngFor="let user of allHealthUsers$ | async">
        <ion-col >
          <ion-card>
            <div class="card-top">
              <img [src]="user.pic" alt="mid2' pic">
              <p>{{user.firstname}}</p>
            </div>
            <ion-card-content>
              <div>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
              </div>
        
              <div>
                <ion-button size="small" routerLink="/dashboard/profile" [state]='user'>View Profile</ion-button>
              </div>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
      
 
      </ion-row>
  </ion-grid>

  </ion-content>

  <ion-grid class="shownot">
    <ion-row>
      <ion-col  *ngFor="let user of allHealthUsers$ | async" size="3" size-md>
        <ion-card>
          <div class="card-top">
            <img [src]="user.pic" alt="mid2' pic">
            <p>{{user.firstname}}</p>
          </div>
          <ion-card-content>
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
            </div>
      
            <div>
              <ion-button size="small" routerLink="/dashboard/profile"  [state]='user'>View Profile</ion-button>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    

    </ion-row>
</ion-grid>
  


</section>




