

<section class="top">
  <div>
    <ul>
      <li><a href="">Doctor</a></li>
      <li><a href="">Nurse</a></li>
      <li><a href="">Midwife</a></li>
    </ul>
  </div>
</section>

<section class="main">
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="12" size-md="3">
          <ion-card>
            <div class="card-top">
              <img src="assets/imgs/mid2.jpg" alt="mid2' pic">
              <p>Asamoah Michael</p>
            </div>
            <ion-card-content>
              <div>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
              </div>
        
              <div>
                <ion-button size="small" routerLink="/dashboard/profile">View Profile</ion-button>
              </div>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-sm="12" size-md="3">
          <ion-card>
            <div class="card-top">
              <img src="assets/imgs/mid1.jpg" alt="silvanus' pic">
              <p>Coleman Darkey</p>
            </div>
            <ion-card-content>
              <div>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
              </div>
        
              <div>
                <ion-button size="small" routerLink="/dashboard/profile">View Profile</ion-button>
              </div>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-sm="12" size-md="3">
          <ion-card>
            <div class="card-top">
              <img src="assets/imgs/doc2.jpg" alt="silvanus' pic">
              <p>Felicity Darko</p>
            </div>
            <ion-card-content>
              <div>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
              </div>
        
              <div>
                <ion-button size="small" routerLink="/dashboard/profile">View Profile</ion-button>
              </div>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-sm="12" size-md="3">
          <ion-card>
            <div class="card-top">
              <img src="assets/imgs/doc1.jpg" alt="silvanus' pic">
              <p>Silvanus Darkey</p>
            </div>
            <ion-card-content>
              <div>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
              </div>
        
              <div>
                <ion-button size="small" routerLink="/dashboard/profile">View Profile</ion-button>
              </div>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-sm="12" size-md="3">
          <ion-card>
            <div class="card-top">
              <img src="assets/imgs/doc3.jpg" alt="amanda's' pic">
              <p>Amanda Flowers</p>
            </div>
            <ion-card-content>
              <div>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
              </div>
        
              <div>
                <ion-button size="small" routerLink="/dashboard/profile">View Profile</ion-button>
              </div>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-sm="12" size-md="3">
          <ion-card>
            <div class="card-top">
              <img src="assets/imgs/doc4.jpg" alt="doc4' pic">
              <p>Silvanus Darkey</p>
            </div>
            <ion-card-content>
              <div>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
              </div>
        
              <div>
                <ion-button size="small" routerLink="/dashboard/profile">View Profile</ion-button>
              </div>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-sm="12" size-md="3">
          <ion-card>
            <div class="card-top">
              <img src="assets/imgs/nurse1.jpg" alt="nurse1' pic">
              <p>Charity Waters</p>
            </div>
            <ion-card-content>
              <div>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
              </div>
        
              <div>
                <ion-button size="small" routerLink="/dashboard/profile">View Profile</ion-button>
              </div>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-sm="12" size-md="3">
          <ion-card>
            <div class="card-top">
              <img src="assets/imgs/nurse2.jpg" alt="nurse2' pic">
              <p>Sandra Berma</p>
            </div>
            <ion-card-content>
              <div>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
              </div>
        
              <div>
                <ion-button size="small" routerLink="/dashboard/profile">View Profile</ion-button>
              </div>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-sm="12" size-md="3">
          <ion-card>
            <div class="card-top">
              <img src="assets/imgs/nurse3.jpg" alt="nurse3' pic">
              <p>Ohemaa Mercy</p>
            </div>
            <ion-card-content>
              <div>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
              </div>
        
              <div>
                <ion-button size="small" routerLink="/dashboard/profile">View Profile</ion-button>
              </div>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
 
      </ion-row>
  </ion-grid>

  </ion-content>

  <ion-grid class="shownot">
    <ion-row>
      <ion-col size-sm="12" size-md="3">
        <ion-card>
          <div class="card-top">
            <img src="assets/imgs/mid2.jpg" alt="mid2' pic">
            <p>Asamoah Michael</p>
          </div>
          <ion-card-content>
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
            </div>
      
            <div>
              <ion-button size="small" routerLink="/dashboard/profile">View Profile</ion-button>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-sm="12" size-md="3">
        <ion-card>
          <div class="card-top">
            <img src="assets/imgs/mid1.jpg" alt="silvanus' pic">
            <p>Coleman Darkey</p>
          </div>
          <ion-card-content>
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
            </div>
      
            <div>
              <ion-button size="small" routerLink="/dashboard/profile">View Profile</ion-button>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-sm="12" size-md="3">
        <ion-card>
          <div class="card-top">
            <img src="assets/imgs/doc2.jpg" alt="silvanus' pic">
            <p>Felicity Darko</p>
          </div>
          <ion-card-content>
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
            </div>
      
            <div>
              <ion-button size="small" routerLink="/dashboard/profile">View Profile</ion-button>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-sm="12" size-md="3">
        <ion-card>
          <div class="card-top">
            <img src="assets/imgs/doc1.jpg" alt="silvanus' pic">
            <p>Silvanus Darkey</p>
          </div>
          <ion-card-content>
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
            </div>
      
            <div>
              <ion-button size="small" routerLink="/dashboard/profile">View Profile</ion-button>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-sm="12" size-md="3">
        <ion-card>
          <div class="card-top">
            <img src="assets/imgs/doc3.jpg" alt="amanda's' pic">
            <p>Amanda Flowers</p>
          </div>
          <ion-card-content>
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
            </div>
      
            <div>
              <ion-button size="small">View Profile</ion-button>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-sm="12" size-md="3">
        <ion-card>
          <div class="card-top">
            <img src="assets/imgs/doc4.jpg" alt="doc4' pic">
            <p>Silvanus Darkey</p>
          </div>
          <ion-card-content>
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
            </div>
      
            <div>
              <ion-button size="small">View Profile</ion-button>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-sm="12" size-md="3">
        <ion-card>
          <div class="card-top">
            <img src="assets/imgs/nurse1.jpg" alt="nurse1' pic">
            <p>Charity Waters</p>
          </div>
          <ion-card-content>
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
            </div>
      
            <div>
              <ion-button size="small">View Profile</ion-button>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-sm="12" size-md="3">
        <ion-card>
          <div class="card-top">
            <img src="assets/imgs/nurse2.jpg" alt="nurse2' pic">
            <p>Sandra Berma</p>
          </div>
          <ion-card-content>
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
            </div>
      
            <div>
              <ion-button size="small">View Profile</ion-button>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-sm="12" size-md="3">
        <ion-card>
          <div class="card-top">
            <img src="assets/imgs/nurse3.jpg" alt="nurse3' pic">
            <p>Ohemaa Mercy</p>
          </div>
          <ion-card-content>
            <div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elm!</p>
            </div>
      
            <div>
              <ion-button size="small">View Profile</ion-button>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
</ion-grid>
  


</section>




