<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <div class="container">
    <section class="top">
      <div class="btn-container">
        <ion-buttons  class="home">
          <ion-button routerLink="/home" fill="outline">login</ion-button>
          <ion-button routerLink="/home/register" fill="outline">Register</ion-button>
        </ion-buttons>
      </div>
      
    </section>
    <section class="bottom">
      <ion-card class="ion-no-margin">
        <ion-card-content>
      
          <router-outlet></router-outlet>
        </ion-card-content>
      </ion-card>
    </section>
  </div>


</ion-content>
