

<ion-content overflow-scroll="true">

  <ion-card>
    <ion-card-content>
      <section class="upper">
        <h3>Update Profile</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, facilis!</span>
      </section>
    
      <section class="lower">
        <form #form="ngForm" (ngSubmit)="submit()">
          <ion-grid >
            <ion-row>
              <ion-col size="12" size-sm >
                  <ion-label>First Name</ion-label><br>
                 <ion-input #firstname = 'ngModel' [(ngModel)]="credentials.firstname" required name="firstname"></ion-input>
    
              </ion-col>
              <ion-col size="12" size-sm >
                <ion-label>Last Name</ion-label><br>
                <ion-input #lastname = 'ngModel' [(ngModel)]="credentials.lastname" required name="lastname"></ion-input>
    
              </ion-col>
            </ion-row>
            <ion-row >
            
              <ion-col size="12" size-sm >
                <ion-label>Password</ion-label><br>
                <ion-input  type="password" #password = 'ngModel' [(ngModel)]="credentials.password"  name="password"></ion-input>
              </ion-col>
              <ion-col size="12" size-sm>
                <ion-label>Email</ion-label>
               <ion-input  type="email" #email = 'ngModel' [(ngModel)]="credentials.email" required name="email"></ion-input>
    
            </ion-col>
         
            </ion-row>
            <ion-row>
          
    
              <ion-col size="12" size-sm >
                <label for="fileI" class="custom-label">{{label}}</label>
               <input id="fileI" type="file"  name="pic" (change) ="selectImage($event)">
              <!-- <small *ngIf="registerForm.get('email')?.errors?.required && registerForm.get('email')?.touched">email is required</small> -->
    
            </ion-col>
            <ion-col size="12" size-sm>
              <!-- <ion-label>select an img</ion-label><br> -->
             <!-- <ion-input color="primary" type="file" ></ion-input> -->
            <!-- <small *ngIf="registerForm.get('email')?.errors?.required && registerForm.get('email')?.touched">email is required</small> -->
  
          </ion-col>
             
            </ion-row>
      
          </ion-grid>
          <div class="bttn">
              <ion-button type='submit' [disabled] = "form.invalid">Update</ion-button>
          </div>
        </form>
        
    
        
      </section>
    </ion-card-content>
  </ion-card>

</ion-content>
